.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.title{
    display: flex;
    margin-bottom: 2rem;
    margin-left: 5rem;
}
.title h3{
    font-weight: 400;
    font-size: 2rem;
}
.containercards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.cards{
    margin: 0 2rem;
    margin-bottom: 4rem;
    border: 10px solid #fff;
    min-width: 15rem;
}
.cards:hover{
    box-shadow: 1px 1px 10px 5px rgb(167, 167, 167);
}
.cards h4{
    display: flex;
    font-weight: 400;
}
.cards h4:first-of-type{
    color: rgb(108, 108, 108);
}
.cards img{
    max-width: 15rem;
    max-height: 15rem;
}